/AutomationConstantsBlogs.class
/O1_OpenAllBlogsPage.class
/O2_OpenHomepageClickLogoFromAllBlogs.class
/O2_OpenTestimonialsFromAllBlogs.class
/O3_OpenShoppageClickShoplink.class
/OpenHomopageClickHomelink.class
